.body {
	width: 100%;
	margin: 0 auto;
	clear: both;
}
.logo {
	background-color: #84e6ff; /* Light Blue */
	color: black;
	right: 40px;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	text-decoration: none;
	display: inline;
	font-size: 25px;
	float: left;
	border: 1px solid purple;
	width: 225px;


}
.button {
	background-color: #00ccff; /* Light Blue */
	color: black;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	text-decoration: none;
	display: inline;
	font-size: 25px;
	cursor: pointer;
	float: left;
	border: 1px solid purple;
	border-bottom: 0px;
	position: relative;
	left: -40px;
	width: 20%;

}
.button:hover {
	background-color: #9adaea;
}
.mainheader {
	background-color: #00ccff;
	border-bottom: 1px solid purple;
	/*padding-top: 40px;*/
	height: 61px;
}
.mainheader nav ul {
	list-style: none;
	margin: 0 auto;

}
.pageTitle {
	margin-top: 0;
	padding-top: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page0 {

	width: 100%;
	height: 580px;
	margin: 0;

	/*background-color: #c6efea;*/
	background-color: #FFFFFF
}
#welcometag{
	font-size: 50px;
	color: rgba(255, 255, 255, 0.8);
	font-style: bold;
}
/** {box-sizing:border-box}*/
/*.mySlides {display:none}*/
#notshow1, #notshow2 {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
	/*max-height: 50%;*/
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0px 30px 30px 0px;
	background-color: rgba(0,0,0,0.4);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 30px 0 0 30px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  /*padding: 8px 12px;*/
  /*position: absolute;*/
  /*bottom: 8px;*/
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  border-radius: 50%;
	background-color: #717171;

  display: inline-block;
	position: relative;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* --------------------Welcome Section Ends------------------------- */


.page1 {
    height: 500px;
    background-color: #9adaea;
}
.page2 {
    height: 500px;
    background-color: #7698a0;
}
.unique-text {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.page3 {
    height: 500px;
    background-color: #3f6872;
}
.page4 {
    height: 500px;
    background-color: #204751;
}
